/* Reset des marges et des paddings */
html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 135, 180, 0.544)
}

/* Style du fond bleu de l'arrière-plan */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28.57vh; /* Correspond à 2/7 de la hauteur de l'écran */
    background-color: blue;
}

/* Style des carrés gris représentant les bases des joueurs */
#left-base{
  position: absolute;
  width: 100px; /* Largeur de 100px */
  height: 100px; /* Hauteur de 100px */
  background-color: rgba(103, 51, 105, 0.479);
}

#right-base {
    position: absolute;
    width: 100px; /* Largeur de 100px */
    height: 100px; /* Hauteur de 100px */
    background-color: gray;
}

#left-base {
    left: 0;
    bottom: calc(2/7 * 100vh); /* Aligner à la hauteur du sol */
}

#sol {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(2/7 * 100vh); /* Correspond à 2/7 de la hauteur de la fenêtre */
    background-color: green; /* Couleur verte */
}

#right-base {
    right: 0;
    bottom: calc(2/7 * 100vh); /* Aligner à la hauteur du sol */
}

/* Styles pour les zones de minerai d'or */

  
/* Styles pour les zones de minerai d'or */
.gold-container {
  position: absolute;
  bottom: calc(2/7 * 100vh); /* Positionner les conteneurs au niveau du sol */
  width: calc(50% - 130px); /* Ajuster la largeur pour éviter les collisions avec les bases */
  height: 10px; /* Hauteur des conteneurs de blocs d'or */
  display: flex;
  align-items: center;
}

#gold-container-left {
  left: 130px; /* Positionner devant la base gauche */
  flex-direction: row; /* Aligner les blocs d'or horizontalement */
  justify-content: flex-start; /* Aligner les blocs d'or à gauche */
}

#gold-container-right {
  right: 130px; /* Positionner devant la base droite */
  flex-direction: row; /* Aligner les blocs d'or horizontalement en sens inverse */
  justify-content: flex-end; /* Aligner les blocs d'or à droite */
}
  

  
  
  #gold-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 5px;
    border-radius: 10px;
  }
  

  .transparent {
    opacity: 0;
  }